A:link.tab {text-decoration: none; color:#ffffff}
A:visited.tab {text-decoration: none; color: #ffffff}
A:active.tab {text-decoration: none; color: #ffffff }
A:hover.tab {text-decoration: none; color: #FF0000 }

A:link.tab2 {text-decoration: none; color:#FFFF00}
A:visited.tab2 {text-decoration: none; color: #FFFF00}
A:active.tab2 {text-decoration: none; color: #FFFF00 }
A:hover.tab2 {text-decoration: none; color: #FFFF00 }

.label {
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
}
.tab {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #FFFFFF;

}
.tab2 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}
.v {
	display: none;
}
.border {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
    border-bottom: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-bottom-color:#CCCCCC;
}

.border1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
    border-bottom: 1px solid #666666;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #666666;
	border-left-color: #FFFFFF;
	font-size: 10px;
	cursor: pointer;
}

.border2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #DCDBD6;
	border-right-color: #DCDBD6;
	border-left-color: #DCDBD6;
	border-bottom-color:#DCDBD6;
	font-size: 10px;

}

.border3 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
    border-bottom: 1px solid #FFFFFF;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #FFFFFF;
	border-left-color: #666666;
	font-size: 10px;
	cursor: pointer;
}
