<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Reader" value="ST"/>
    <add key="PollTimeSpan" value="100"/>
    <add key="ConnectionString" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
