<?xml version="1.0" encoding="utf-8" ?>
<LocationConfig>
  <Router Site="SiteA"></Router>
  <DataBase>
    <Site name="SiteA" uri="http://192.168.0.100/DBAgent.asmx">
      <Item name="ETCPServer" key="ETCPServer.1" DBType="SqlServer" connectionString="Server=192.168.0.100;Database=ETCPServer;User ID=sa;Password=123456;Trusted_Connection=False;"></Item>
      <Item name="ETCPServer" key="ETCPServer.2" DBType="SqlServer" connectionString="Server=192.168.0.101;Database=ETCPServer;User ID=sa;Password=123456;Trusted_Connection=False;"></Item>
      <Item name="ETCPServer" key="ETCPServer.3" DBType="SqlServer" connectionString="Server=192.168.0.102;Database=ETCPServer;User ID=sa;Password=123456;Trusted_Connection=False;"></Item>
      <Item name="ETCPServer" key="ETCPServer.4" DBType="SqlServer" connectionString="Server=192.168.0.102;Database=ETCPServer;User ID=sa;Password=123456;Trusted_Connection=False;"></Item>
      <Item name="ETCPHA" key="ETCPHA" DBType="Mysql" connectionString="server=192.168.0.121;database=ETCPHA;uid=sa;pwd=123456;"></Item>
    </Site>
    <Site name="SiteB"  current="false"  uri="http://192.168.0.101/DBAgent.asmx">
      <Item name="ETCPServer" key="ETCPServer.5" DBType="SqlServer" connectionString="Server=192.168.0.100;Database=ETCPServer;User ID=sa;Password=123456;Trusted_Connection=False;"></Item>
      <Item name="ETCPServer" key="ETCPServer.6" DBType="SqlServer" connectionString="Server=192.168.0.101;Database=ETCPServer;User ID=sa;Password=123456;Trusted_Connection=False;"></Item>
      <Item name="ETCPServer" key="ETCPServer.7" DBType="SqlServer" connectionString="Server=192.168.0.102;Database=ETCPServer;User ID=sa;Password=123456;Trusted_Connection=False;"></Item>
      <Item name="ETCPServer" key="ETCPServer.8" DBType="SqlServer" connectionString="Server=192.168.0.102;Database=ETCPServer;User ID=sa;Password=123456;Trusted_Connection=False;"></Item>
      <Item name="ETCPHA" key="ETCPHA" DBType="Mysql" connectionString="server=192.168.0.121;database=ETCPHA;uid=sa;pwd=123456;"></Item>
    </Site>
  </DataBase>
</LocationConfig>
